/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject/private/
/nbproject/*
/public/css/app.css
/public/js/app.js
/public/js/app.js
/public/css/app.css
/package-lock.json
/composer.lock
/config/filesystems.php
/app/Models/Fsm/EmptyingService.php
config/filesystems.php
config/snappy.php